.todo-list{
    height: inherit;
    width: inherit;
    border: 2px solid #cdcdcd;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 0 1rem;
    .todo-item{
        display: flex;
        margin: .7rem 0;
        p {
            color: #727171;
            margin: 0;
            flex-basis: 100%;
            font-weight: 700;
            font-size: 1.3rem;
            text-transform: capitalize;
        }
        button {
            float: right;
            margin: 0 .2rem;
            border: 1px solid #cdcdcd;
            border-radius: 5px;
            padding: 5px 10px;
            background: #6896b1;
            color: white;
        }
    }
    h3 {
        margin: .5rem;
        text-align: center;
    }
    
}