<div class="todo-list" *ngIf="todoList.length > 0">
    <h3> Todo list </h3>
    <div class="todo-item" *ngFor="let todo of todoList; let i = index">
      <p> {{todo.name}}</p> 
        <button (click)="delete(i)">Delete</button>
        <button (click)="edit(todo, i)">Edit</button>

    </div>
</div>