<div class="home-page">
<div class="add-item-block">

    <input type="text" [(ngModel)]= "todoItem" placeholder="Todo item"/>

    <button type="button" (click)="addItem()" >Add</button>
</div>

<app-todo-list [list] = "todoList" (eventEmitter)="emittedEvents($event)"></app-todo-list>

</div>