.home-page {
    height: 100%;
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-flow: column;
    border: 2px solid #727171;
    border-radius: 10px;
    padding: 5rem 3rem;
    .add-item-block{
        width: inherit;
        input {
            border: 1px solid #cdcdcd;
    padding: 5px;
    border-radius: 5px;
        }
        button {
            margin-left: 1rem;
            border: 1px solid #cdcdcd;
            border-radius: 5px;
            padding: 5px 20px;
            background: #6868b1;
            color: white;
        }
    }
 
   
 
}